version: 2
updates:
  # Go Module Updates
  - package-ecosystem: "gomod"
    directory: "/backend"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 15

  # npm Updates
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 15
    groups:
      angular-dependencies:
        patterns:
          - "*"  # Alle Pakete in eine Gruppe
        update-types:
          - "major"
          - "minor"
          - "patch"

  # GitHub Actions Updates
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 15