# test coverage reports
coverage.html
coverage.out

# trivy reports
report.html

# angular build result used for embedding
backend/cmd/strichliste/frontendDist

# binaries
backend/main
backend/strichliste
frontend/angular.json

git config pull.rebase false  # merge
hint:   git config pull.rebase true   # rebase
hint:   git config pull.ff only       # fast-forward only